In [2]:
import pandas as pd

In [6]:
df = pd.DataFrame({'Setor':['abcd','defg'], 
                    'Grupo':['12345','67890'], 
                    'Pedido':['sim', 'nao']})
df

  Setor  Grupo Pedido
0  abcd  12345    sim
1  defg  67890    nao

In [7]:
df.columns

Index(['Setor', 'Grupo', 'Pedido'], dtype='object')

In [3]:
df = pd.read_csv('teste.csv', sep=';')
df

,Cd Consultora,Nome CN,Nível,Ciclo Início,Setor,Grupo,Débito,Status CN,Espaço Dig Aberto,CN Bem Vinda,Adimplente 1ª Parc,Pedido Autônomo,Treinamento,Venda Digital,Qt Passos
0,1985574,IVONE ESPINDOLA,SEMENTE,202214,ESTRELAS DO MAR,17259,NÃO,I1,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
1,2433710,NORY CELESTE SAIS DE FERREIRA,SEMENTE,202219,PAPAREIA DO CHUI,9037,NÃO,I4,SIM,NÃO,SIM,SIM,SIM,NÃO,3
2,2747120,MARIA JUANITA MORAES,SEMENTE,202218,HORTENSIA,8611,NÃO,I3,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
3,3234750,NILCE JUSTIN FERRI,BRONZE,202215,ESTRELAS DO MAR,17307,NÃO,I2,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
4,3729010,DANIELA FABIANA PEREIRA,BRONZE,202217,HORTENSIA,8608,NÃO,I2,SIM,NÃO,SIM,SIM,SIM,NÃO,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9385,307699820,SHEILA DAMBROS,SEMENTE,202303,TERRA DAS VIDEIRAS,8652,NÃO,ATIVA,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
9386,307760588,CLAUDIA SANTOS,SEMENTE,202303,PRINCESA DO SUL,9075,NÃO,ATIVA,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
9387,307764818,LEONARDO DE MATOS DA ROSA,SEMENTE,202303,BONS VENTOS,10194,NÃO,ATIVA,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
9388,307765733,JHONATAN SOARES OLIVEIRA SILVA,SEMENTE,202303,NOVO TEMPO,8201,NÃO,ATIVA,SIM,NÃO,SIM,SIM,NÃO,NÃO,2
9389,307768538,WESLEY RICARDO DOS REIS LIMA,SEMENTE,202303,TERRA DAS VIDEIRAS,8656,NÃO,ATIVA,SIM,NÃO,SIM,SIM,NÃO,NÃO,2

In [7]:
df[(df['Setor']=='CORAÇÃO GAÚCHO') & (df['Grupo']==9146) & (df['Nível']=='BRONZE')]['Cd Consultora'].count()

7